{% extends "booking/base.html" %}
{% block title %}Ссылка отправлена
{% endblock %}

{% block content %}
<div class="auth-card position-relative">
<a href="{% url 'booking:home' %}" class="back-arrow-glass" title="На главную"><span>←</span></a>

<h2 class="mb-4">Письмо отправлено</h2>
<p>Если вы ввели правильный email, мы отправили письмо со ссылкой для сброса пароля.</p>
<p>Проверьте почту и следуйте инструкциям.</p>
<a href="{% url 'booking:home' %}" class="btn btn-outline-primary mt-3">На главную</a>
</div>
{% endblock %}
