{% extends "booking/base.html" %}
{% block title %}Сброс пароля
{% endblock %}

{% block content %}
<div class="auth-card position-relative">
<a href="{% url 'booking:home' %}" class="back-arrow-glass" title="На главную"><span>←</span></a>

<h2>Сброс пароля</h2>
<p>Введите ваш email. Мы отправим ссылку для сброса пароля.</p>

<form method="post">
  {% csrf_token %}
  {{ form.email.label_tag }}
  {{ form.email }}
  <button type="submit" class="btn btn-primary mt-3">Отправить ссылку</button>
</form>
</div>
{% endblock %}
